# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
*.egg-info

# Visual Studio Code files
.vscode
.vs

# PyCharm files
.idea
venv

# Eclipse Project settings
*.*project
.settings

# Sublime Text settings
*.sublime-workspace
*.sublime-project

# Editor temporaries
*.swn
*.swo
*.swp
*.swm
*~

# IPython notebook checkpoints
.ipynb_checkpoints

# macOS dir files
.DS_Store

exp
data
raw_wav
tensorboard
**/*build*

*.onnx
external_tools
pretrained_models
s3prl_hub
whisper_hub

voxceleb_resnet34/
dataset/
*.pt


cnceleb_resnet34/
cnceleb_resnet34_LM/
voxceleb_ECAPA1024/
voxceleb_ECAPA1024_LM/
voxceleb_ECAPA512/
voxceleb_ECAPA512_LM/
voxceleb_ecapa512_dino/
voxceleb_CAM++/
voxceleb_CAM++_LM/
voxceleb_resnet34/
voxceleb_resnet34_LM/
voxblink2_samresnet34/
voxblink2_samresnet34_ft/
voxblink2_samresnet100/
voxblink2_samresnet100_ft/
voxceleb_resnet152_LM/
voxceleb_resnet221_LM/
voxceleb_resnet293_LM/

*.wav